rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Global Safety Net
    // Since this sandbox application utilizes client-side end-to-end symmetric encryption
    // for all messages, media inputs, and credentials, we permit open read and write
    // access across all nodes to support dynamic mesh pairings and user discovery.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
